.charselect {
  display: flex;
  margin: 0 auto;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.charselectrow {
  display: flex;
  flex-wrap: wrap;
}

.portraitcontainer {
  display: flex;
  flex-direction: column;
}

.portraits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.description {
  font-size: 2em;
  padding-bottom: 1em;
}

.imageportraitcontainer {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
  border-radius: 50%;
}

.imageportraitcontainer:hover {
  border: 0.5rem solid #fa4454;
}

@media (max-width: 1024px) {
  .imageportraitcontainer {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
  }
}
