.charselect {
  display: flex;
  margin-left: auto;
  width: 50%;
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.charselectrow {
  display: flex;
  flex-wrap: wrap;
}

.portraitcontainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.portraits {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.description {
  font-size: 2em;
  padding-bottom: 1em;
}

.imageportraitcontainer {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 50%;
}

.charselectgroup1 {
  display: flex;
}

.charselectgroup2 {
  display: flex;
}

.displayrow {
  display: flex !important;
}

.charselectrow1 {
  display: none;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-top: -1rem;
}

.charselectrow2 {
  display: none;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-top: -1rem;
}

.charselectrow3 {
  display: none;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-top: -1rem;
}

.charselectrow4 {
  display: none;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-top: -1rem;
}

.roleportraitcontainer {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 1rem;
  border-radius: 50%;
}

.imageportraitcontainer:hover {
  border: 0.5rem solid #fa4454;
}

@media (max-width: 1024px) {
  .imageportraitcontainer {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 50%;
  }

  .charselectgroup1 {
    display: flex;
    margin-right: 0;
    flex-direction: column;
  }

  .charselectgroup2 {
    display: flex;
    margin-left: 0;
    flex-direction: column;
  }

  .charselectrow3 {
    display: flex;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
  }

  .charselectrow4 {
    display: flex;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
  }

  .charselectrow1 {
    display: flex;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
  }

  .charselectrow2 {
    display: flex;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
  }

  .roleportraitcontainer {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 50%;
  }

  .portraitcontainer {
    display: flex;
    width: initial;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }

  .charselect {
    margin-top: 3rem;
    margin-left: 0;
    margin-bottom: 1rem;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .portraitcontainer {
    display: flex;
    margin-left: 1.5rem;
    flex-direction: column;
  }

  .imageportraitcontainer {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    border-radius: 50%;
  }

  .roleportraitcontainer {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    border-radius: 50%;
  }
}

@media (max-width: 375px) {
  .portraitcontainer {
    display: flex;
    margin-left: 0;
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .portraitcontainer {
    display: flex;
    margin-left: 0;
    flex-direction: column;
  }

  .imageportraitcontainer {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    border-radius: 50%;
  }

  .roleportraitcontainer {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    border-radius: 50%;
  }
}
