* {
  box-sizing: border-box;
}

.greetingcard {
  display: flex;
  flex-direction: column;
  padding: 5%;
  min-width: 75vw;
  min-height: 50vh;
  background-color: black;
  background-image: url("greetingcardbg.jpg");
}

.header {
  color: #fa4454;
  font-size: 6vmin;
}

h1 {
  color: #dc3d4b;
}
