.row {
  display: grid;
  grid-template-columns: auto auto;
}

.item {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.homepagecard {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 25px;
  width: calc(100% - 4rem);
  margin: 2rem;
  background-color: black;
  overflow: hidden;
  z-index: 1;
}

.homepagecardstripe1 {
  width: 8rem;
  height: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-275%, -50%) rotate(15deg);
  z-index: -1;
  background-color: #1a1a1a;
}

.homepagecardstripe2 {
  width: 8rem;
  height: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%) rotate(15deg);
  z-index: -1;
  background-color: #1a1a1a;
}

@media (max-width: 1920px) {
  .row {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 1800px) {
  .row {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 1440px) {
  .row {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 768px) {
  .row {
    grid-template-columns: auto;
  }
}

@media (max-width: 425px) {
  .homepagecard {
    width: 100%;
  }

  .homepagecardstripe1 {
    background-color: black;
  }

  .homepagecardstripe2 {
    background-color: black;
  }

  .item {
    margin: 2rem 0;
  }

  .homepagecard {
    margin: 2rem 0;
  }
}
