* {
  box-sizing: border-box;
}

.mapbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(70, 70, 70, 0.8);
  width: 10rem;
  height: 5rem;
  font-size: 1.5rem;
  border: none;
  color: whitesmoke;
}

.mapbutton:hover {
  color: #fa4454;
}

.mapname {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(70, 70, 70, 0.8);
  width: 8rem;
  height: 5rem;
  font-size: 1.5rem;
  border: none;
  color: #fa4454;
}

.mapdivider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(70, 70, 70, 0.8);
  width: 2rem;
  height: 5rem;
  font-size: 1.7rem;
  border: none;
  color: #343434;
}

.mapcard {
  display: flex;
  border-radius: 25px;
  width: 30rem;
  margin-right: 1rem;
  margin-left: 1rem;
  height: 20rem;
  overflow: hidden;
  background-color: black;
  background-size: cover;
  z-index: 3;
}

.Ascent {
  background-image: url("ascentbg.png");
}

.Bind {
  background-image: url("bindbg.png");
}

.Breeze {
  background-image: url("breezebg.png");
}

.Haven {
  background-image: url("havenbg.png");
}

.Icebox {
  background-image: url("iceboxbg.png");
}

.Split {
  background-image: url("splitbg.png");
}
