* {
  box-sizing: border-box;
}

.mapbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(70, 70, 70, 0.8);
  width: 10rem;
  height: 5rem;
  font-size: 1.5rem;
  border: none;
  color: #fa4454;
}

.mapcard {
  display: flex;
  border-radius: 25px;
  width: 30rem;
  height: 20rem;
  overflow: hidden;
  background-color: black;
  background-size: cover;
}

.Ascent {
  background-image: url("ascentbg.png");
}

.Bind {
  background-image: url("bindbg.png");
}

.Breeze {
  background-image: url("breezebg.png");
}

.Haven {
  background-image: url("havenbg.png");
}

.Icebox {
  background-image: url("iceboxbg.png");
}

.Split {
  background-image: url("splitbg.png");
}

.mapcardspacing {
  width: 75vw;
  height: 100vh;
}
