.headercontainer {
  display: flex;
  width: 100%;
  font-size: 60px;
  margin: 2rem;
}

.mapsitepage {
  width: 100%;
}

.mapsiteheader {
  display: flex;
  z-index: 3;
}

.mapnamecontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mapsitehead {
  color: #fa4454;
  letter-spacing: 2px;
  font-size: 100px;
  text-transform: uppercase;
}

.mapsitedivider {
  margin-bottom: 1rem;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 29px;
  color: #505050;
}

.mapsitetext {
  margin-bottom: 1rem;
  font-size: 30px;
  letter-spacing: 31px;
  text-transform: uppercase;
  color: whitesmoke;
}

.mapsitepagecard {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 25px;
  margin: 2rem;
  background-color: black;
  overflow: hidden;
  z-index: 1;
}

.mapsitepagecardstripe1 {
  width: 8rem;
  height: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-250%, -50%) rotate(15deg);
  z-index: 1;
  background-color: #1a1a1a;
}

.mapsitepagecardstripe2 {
  width: 8rem;
  height: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%) rotate(15deg);
  z-index: 1;
  background-color: #1a1a1a;
}

@media (max-width: 425px) {
  .mapsitepagecard {
    margin: 2rem 0;
  }

  .mapsitepagecardstripe1 {
    background-color: black;
  }

  .mapsitepagecardstripe2 {
    background-color: black;
  }
}

@media (max-width: 1024px) {
  .mapsiteheader {
    flex-direction: column;
  }

  .mapnamecontainer {
    align-items: center;
  }

  .mapsitetext {
    padding-left: 31px;
  }

  .headercontainer {
    flex-direction: column;
    width: auto;
    font-size: 45px;
    justify-content: center;
    align-items: center;
  }

  .mapsitetext {
    font-size: 30px;
  }

  .mapsitedivider {
    padding-left: 29px;
  }
}

/*CHARACTER SELECT CSS*/
.charselect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portraits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.description {
  font-size: 2em;
  padding-bottom: 1em;
}

.imageportraitcontainer {
  width: 5rem;
  height: 5rem;
  margin-left: 2rem;
  border-radius: 50%;
}

.imageportraitcontainer:hover {
  border: 0.5rem solid #fa4454;
}

@media (max-width: 1024px) {
  .imageportraitcontainer {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
  }
}
