.headercontainer {
  display: flex;
  width: 100%;
  font-size: 60px;
  margin: 2rem;
}

.mapsitepage {
  width: 100%;
}

.mapsiteheader {
  width: 100%;
  display: flex;
  z-index: 3;
}

.mapnamecontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mapsitehead {
  color: #fa4454;
  letter-spacing: 2px;
  font-size: 100px;
  text-transform: uppercase;
}

.mapsitedivider {
  margin-bottom: 1rem;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 29px;
  color: #505050;
}

.mapsitetext {
  margin-bottom: 1rem;
  font-size: 30px;
  letter-spacing: 31px;
  text-transform: uppercase;
  color: whitesmoke;
}

.mapsitepagecard {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  margin: 2rem;
  background-color: black;
  overflow: hidden;
  z-index: 1;
}

.mapsitepagecardstripe1 {
  width: 8rem;
  height: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-250%, -50%) rotate(15deg);
  z-index: 1;
  background-color: #1a1a1a;
}

.mapsitepagecardstripe2 {
  width: 8rem;
  height: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%) rotate(15deg);
  z-index: 1;
  background-color: #1a1a1a;
}

.lrow {
  display: grid;
  grid-template-columns: 32rem 32rem 32rem;
}

@media (max-width: 1800px) {
  .lrow {
    grid-template-columns: 32rem 32rem;
  }
}

@media (max-width: 1024px) {
  .mapsiteheader {
    flex-direction: column;
  }

  .lrow {
    grid-template-columns: 29rem 29rem;
  }

  .mapnamecontainer {
    align-items: center;
  }

  .mapsitetext {
    padding-left: 31px;
    font-size: 30px;
  }

  .headercontainer {
    flex-direction: column;
    width: auto;
    font-size: 45px;
    justify-content: center;
    align-items: center;
  }

  .mapsitedivider {
    padding-left: 29px;
  }
}

@media (max-width: 768px) {
  .lrow {
    grid-template-columns: auto;
  }
}

@media (max-width: 425px) {
  .mapsitepagecard {
    margin: 2rem 0;
  }

  .mapsitehead {
    font-size: 15vw;
  }

  .mapsitetext {
    font-size: 20px;
    margin: 0.5rem 0;
    letter-spacing: 18px;
    padding-left: 18px;
  }

  .mapsitedivider {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 15px;
    padding-right: 15px;
  }

  .mapsitepagecardstripe1 {
    background-color: black;
  }

  .mapsitepagecardstripe2 {
    background-color: black;
  }
}

@media (max-width: 320px) {
  .mapsitetext {
    font-size: 20px;
    margin: 0.5rem 0;
    letter-spacing: 18px;
    padding-left: 18px;
  }

  .mapsitedivider {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 15px;
    padding-right: 15px;
  }
}
