.sideswitcher {
  display: flex;
  width: 50%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.sidebutton1 {
  width: 50%;
  font-size: 24px;
  margin: auto 0;
  color: whitesmoke;
  text-decoration: none;
}

.sidebutton2 {
  width: 50%;
  font-size: 24px;
  margin: auto 0;
  color: whitesmoke;
  text-decoration: none;
}

.sidebutton1:hover,
.sidebutton2:hover {
  color: #fa4454;
}

@media (max-width: 1440px) {
  .sidebutton1 {
    font-size: 24px;
    margin: auto 2rem auto 0;
  }

  .sidebutton2 {
    font-size: 24px;
    margin: auto 2rem auto 0;
  }
}

@media (max-width: 1024px) {
  .sideswitcher {
    display: none;
    margin-top: 0;
  }
}
