.sitecard {
  display: flex;
  width: 75vw;
  height: 50vh;
}

.sitelineup {
  background-color: #fa4454;
  width: 50%;
  height: 100%;
}

.sitedesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 2.5%;
  width: 50%;
  height: 100%;
}
