.siteswitcher {
  width: 424px;
  height: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: transparent;
}

.stripecontainer {
  position: relative;
}

.a-site-starter {
  width: 40px;
  height: 130%;
  position: relative;
  z-index: -1;
  transform: translate(5px, -4px) rotate(15deg);
  background-color: #b78460;
}

.a-site-button {
  display: flex;
  width: 50%;
  height: 100%;
}

.b-site-button {
  display: flex;
  width: 50%;
  height: 100%;
}

.a-site-ender {
  width: 40px;
  height: 130%;
  position: relative;
  z-index: -1;
  transform: translate(-5px, -5px) rotate(15deg);
  background-color: #b78460;
}

.a-site-button:hover .a-site-starter,
.a-site-button.hover .a-site-starter {
  background: #c8a084;
}

.a-site-button:hover .a-site,
.a-site-button.hover .a-site {
  background: #c8a084;
}
.a-site-button:hover .a-site-ender,
.a-site-button.hover .a-site-ender {
  background: #c8a084;
}

.b-site-button:hover .b-site-starter,
.b-site-button.hover .b-site-starter {
  background: #4f6c96;
}

.b-site-button:hover .b-site,
.b-site-button.hover .b-site {
  background: #4f6c96;
}
.b-site-button:hover .b-site-ender,
.b-site-button.hover .b-site-ender {
  background: #4f6c96;
}

.a-site {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  color: #364966;
  background-color: #b78460;
}

.b-site-starter {
  width: 40px;
  height: 130%;
  position: relative;
  z-index: -1;
  transform: translate(5px, -4px) rotate(15deg);
  background-color: #364966;
}

.b-site-ender {
  width: 40px;
  height: 130%;
  position: relative;
  z-index: -1;
  transform: translate(-5px, -5px) rotate(15deg);
  background-color: #364966;
}

.b-site {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #b78460;
  background-color: #364966;
}

.c-site {
  width: 100%;
  display: flex;
  background-color: #042e27;
}

@media (max-width: 425px) {
  .siteswitcher {
    width: 270px;
  }
}

@media (max-width: 320px) {
  .siteswitcher {
    width: 270px;
  }
}
