.sitecard {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 44rem;
  border-radius: 25px;
  overflow: hidden;
}

.sitecardlineup {
  width: 100%;
  height: 100%;
}

.sitecardheader{
  font-size: 2rem;
  color:#fa4454;
}

.sitecarddesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.sitecarddesc p {
  line-height: 1.5rem;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}
