* {
  box-sizing: border-box;
}

/* Layout Classes */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #343434;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.contentarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.topnavbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 10%;
  width: 100%;
  color: #fa4454;
  background-color: black;
}

.row {
  display: flex;
}

.item {
  margin: 2rem auto;
}

/* Text Classes */
.logo {
  display: flex;
  margin-left: 2rem;
  font-size: 60px;
  color: #fa4454;
}

.dividerline {
  width: 10%;
  justify-content: center;
  font-size: 35px;
  display: flex;
  color: #505050;
}

.topnavtab {
  margin: 0 auto;
  font-size: 28px;
}

.desktopnav {
  display: flex;
  width: 80%;
  margin-right: 2rem;
}

.mobilenav {
  display: none;
}

/* Dropdown Button */
.dropbtn {
  color: whitesmoke;
  font-size: 28px;
  border: none;
  background-color: transparent;
}

.dropbtn:hover {
  color: #fa4454;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #fa4454;
  font-size: 18px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #343434;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  left: initial;
}

/* General Styling */
body {
  margin: 0;
  background-color: #343434;
  font-family: Helvetica, sans-serif;
  color: whitesmoke;
  height: 100%;
  width: 100%;
}

@media (max-width: 1024px) {
  .desktopnav {
    display: none;
  }

  .mobilenav {
    display: flex;
    width: 33%;
    margin: 0 auto;
  }

  .dropbtn {
    font-size: 42px;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    font-size: 60px;
    color: #fa4454;
  }

  .dividerline {
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    font-size: 35px;
    color: #343434;
  }
}

@media (max-width: 425px) {
  .logo {
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    font-size: 60px;
    color: #fa4454;
  }

  .dividerline {
    width: 33%;
    justify-content: center;
    font-size: 35px;
    display: flex;
    color: #505050;
  }

  .mobilenav {
    display: flex;
    width: 33%;
    margin: 0 auto;
  }
}
