* {
  box-sizing: border-box;
}

/* Layout Classes */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.contentarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.topnavbar {
  position:relative;
  display: flex;
  align-items: center;
  z-index: 2;
  height: 10%;
  width: 100%;
  color: #fa4454;
  background-color: #505050;
}

.row{
  display:flex;
}

.item{
  margin: 2rem;
}

/* Text Classes */
.logo {
  padding-left: 5%;
  font-size: 3vw;
  color: #fa4454;
}

.dividerline {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2vw;
  color: #343434;
}

.topnavtab {
  padding-right: 5%;
  font-size: 1.5vw;
}

/* Dropdown Button */
.dropbtn {
  background-color: #505050;
  color:whitesmoke;
  font-size: 1.5vw;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #404040;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #fa4454;
  font-size: 1vw;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #343434;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  left: initial;
}

/* General Styling */
body {
  margin: 0;
  background-color: #343434;
  font-family: Helvetica, sans-serif;
  color: whitesmoke;
  height: 100%;
  width: 100%;
}
